.mepic {
    max-width: 150px;
    height: 100%;
    border-radius: 50%;

}

.quote {
    font-family: 'oswald';
    font-size: clamp(1em, 1.3vw, 4em);
    letter-spacing: 8px;
    font-weight: 200;
    justify-content: space-between;
}


.lifepic img {
    width: 150px;
    border-radius: 50%;
}

.lifecont {
    display: flex;
    gap: 2em;
    align-items: center;
}

.piccont {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
}

.quotecont {
    display: flex;

    justify-content: space-between;
}

.quotes {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.quote p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.dg {
    font-family: 'oswald';
    font-size: 2em;
    font-weight: 200;
}

.aboutpage {
    display: flex;
    flex-direction: column;
    gap: 1em;


}

.description {
    font-family: 'krub';
    font-weight: 200;
    font-size: clamp(.6em, .7vw, 4em);
}

.abouthead {
    font-family: 'oswald';
    font-weight: 200;
    font-size: 1.3em;
}

.abouthead2 {
    font-family: 'oswald';
    font-weight: 200;
    font-size: 1.3em;
}


@media (max-width: 1300px) {
    .aboutpage {
        height: 80vh;
    }

    .description {
        font-size: clamp(0.8em, 1vw, 4em);
    }
}


@media (max-width: 700px) {
    .description {
        font-size: clamp(0.54em, .7vw, 4em);
    }

    .mepic,
    .lifepic img {
        width: 100px;
    }


    .piccont,
    .lifecont {
        gap: 1.5em;
    }

    .app-container {
        padding: 1.5em;
    }

    .content-container {
        padding: 1.5em;
    }
}

@media (max-width: 500px) {

    .mepic,
    .lifepic img {
        width: 80px;
    }


    .piccont,
    .lifecont {
        gap: 1em;
    }
}

.app-container.light-mode {

    .description {
        font-weight: 500;
    }

    .abouthead {
        font-weight: 400;
    }

    .abouthead2 {
        font-weight: 400;
    }

    .quote {
        font-weight: 400;
    }

    .header {
        font-weight: 300;
    }

}