.hometext {
    font-family: 'krub';
    font-size: .9em;
    max-width: 450px;
    text-align: justify;
    font-weight: 200;
}

.homepage {
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.alias {
    font-family: 'oswald';
    font-size: 2.5em;
    font-weight: 300;
}

.left {
    margin-right: 32px;
    margin-bottom: -20px;
}