.mernpic {
    max-width: 400px;
}


.skillspage {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.servicescont {
    display: flex;
    gap: 2em;
}

.service {
    width: 380px;
}

.serviceheader {
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgb(155, 155, 155);
    padding-bottom: 5px;
}

.services {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.frameheader {
    font-family: 'oswald';
    font-weight: 200;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
}

.skillheader {
    font-family: 'oswald';
    font-weight: 200;
    font-size: 1.5em;
}

.servicecontent {
    font-family: 'krub';
    font-weight: 200;
    font-size: clamp(.5em, .65vw, 4em);
    margin-top: 8px;
    text-align: justify;
}

.framecontent {
    font-family: 'krub';
    font-weight: 200;
    font-size: clamp(.5em, .65vw, 4em);
    margin-top: 8px;
    text-align: center;
}

.serviceheader p {
    font-family: 'krub';
    font-weight: 200;
    font-size: clamp(.6em, .9vw, 4em);
}

.frameworkcont {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    justify-content: center;
}

hr {
    border: 1px solid rgb(109, 109, 109);
    height: 280px;
    margin: 1em;
}

.framework {
    width: 100%;
    padding: 1em 0em 1em;
}

.frameworks {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mernframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mernframe img {
    width: 200px;
}

.framepics img {
    width: 20%;
}

.framepics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87px;
}


.app-container.light-mode {

    .hometext {
        font-weight: 500;
    }

    .framecontent,
    .servicecontent {
        font-weight: 500;
    }

    .skillheader,
    .serviceheader {
        font-weight: 400;
    }

    .frameheader {
        font-weight: 400;
    }

    .serviceheader p {
        font-weight: 500;
    }

    .serviceheader {
        border-bottom: 3px solid rgb(155, 155, 155);
    }

    hr {
        border: 1px solid rgb(109, 109, 109);
        opacity: 50%;
    }
}

@media (max-width: 1300px) {



    .service {
        width: 100%;
    }

    .serviceheader p {
        font-size: clamp(0.9em, 1.2vw, 4em);
    }

    .servicecontent,
    .framecontent {
        font-size: clamp(0.7em, .8vw, 4em);
    }
}

@media (max-width: 700px) {
    .serviceheader p {
        font-size: clamp(0.8em, 1vw, 4em);
    }

    .servicescont {
        flex-direction: column;

        gap: 1em;
    }

    .services {
        gap: 1em;
    }

    .servicecontent,
    .framecontent {
        font-size: clamp(0.6em, .8vw, 4em);
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .frameheader {
        display: none;
    }

    hr {
        display: none;
    }

    .frameworkcont {
        flex-direction: column;
    }


    .mernframe img {
        width: 150px;
    }

    .framepics {
        max-width: 150px;
        height: auto;
    }

    .framepics img {
        width: 30%;
        ;
    }

    .framework {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .app-container {
        height: 100%;
    }

    .skillheader {
        font-size: 1.2em;
    }

    .frameheader {
        font-size: 1.2e;
    }

    .mernframe img {
        width: 100px;
    }

    .framepics {
        max-width: 100px;
        height: auto;
    }

    .framepics img {
        width: 30%;
        ;
    }

    .framework {
        padding: 0;
    }
}